<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum=1.0, user-scalable=no">
	<title>접수하기</title>
	<link rel="stylesheet" type="text/css" href="/css/maps/kakaoreservation.css">
	
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<p>선택한 병원: <span th:text="${selectedPlaceName}"></span></p>
			<form th:action="@{/reservation}" method="POST">
				<label th:for="${pxName}">환아명:</label>
				<input type="text" th:id="${pxName}" name="pxName" placeholder="ex) 홍길동" required>
				<br>
				<label for="txtList">진료명:</label>
				<select id="txtList" name="txtList" required>
					<option value="">&#45;&#45;선택&#45;&#45;</option>
					<option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
				</select>
				<br>
				<input type="hidden" name="selectedPlaceName" th:value="${selectedPlaceName}" />
				<input type="submit" value="접수 신청">
				<input type="button" value="뒤로 가기" onclick="history.back()">
			</form>
			
			<script th:inline="javascript">
				// JavaScript 코드
				const selectedPlaceName = getParameterByName("placeName");
				document.getElementById("selectedPlaceName").textContent = selectedPlaceName;
				const submitBtn = document.querySelector('input[type="submit"]');
				const backButton = document.querySelector('input[type="button"]');
				
				submitBtn.addEventListener("click", () => {
					const url = "/reservation?selectedPlaceName=" + encodeURIComponent(selectedPlaceName);
					window.location.href = url; // 다음 페이지로 이동
				});
				
				backButton.addEventListener("click", () => {
					history.back();
				});
				
				function getParameterByName(name) {
					const url = window.location.href;
					name = name.replace(/[\[\]]/g, "\\$&");
					const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
					const results = regex.exec(url);
					if (!results) return null;
					if (!results[2]) return '';
					return decodeURIComponent(results[2].replace(/\+/g, " "));
				}
			</script>
		</div>
	</div>
</body>
</html>